
@media (min-width:1025px){
    .container{
        background-image:none;
    }
    .App{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .navbar{
        display: flex;
        width: 100%;
    } */
    .cards{
        display: none;
    }
    .HomeText{
        color: black;
        visibility: visible;
        font-size: 65px;
    }
    .Home{
        /* width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse; */
        background-image: none;
    }
    
    .nav{
        background-color: white;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    }
    .nav li{
        color:rgb(0, 0, 0);
        font-size: 25px;
        white-space: nowrap;
          
            text-overflow: "----";
    }

    nav li:hover{
        background-color: #0e195d;
        border-radius: 13px;
        
    }
   .items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .item{
    background-color: white;
    color: #181D3D;
    font-size: 20px;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
   }
   #active{
    color:#CA5050;
    font-weight: bold;
   }

   .item:hover{
    background-color:#181D3D;
    color:white;
    cursor: pointer;
   }
    .LoginBtn {
        
        align-items: center;
        display: flex;
        justify-content: center; 
    }
    .LoginBtn .Btn{
        background-color: #181D3D;
        color: white;
        padding: 10px;
        border-radius: 16px;
        font-size: 20px;
    }
    .content{
        display: flex;
        /* flex-direction: row-reverse; */
    }
  


    .ImgBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 46px;
    }
    .btn{
        width: 50%;
    }
    .EmergencyContainer{
        width: 100vw;
        height: 100vh;
        background-image: none;
    }
    .Drawer{
        display:none;
    }
    .EmergencyContent{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }


    .team{
 
        width: 100vw;
        height: 100vh;
        background-image: none;
    }
    .service{
        width: 100vw;
        height: 100vh;
        background-image: none;
    
    }
    .askservice{
        width: 100vw;
        height: 100vh;
        background-image: none;
    }
    .askcare{
        width: 100vw;
        height: 100vh;
        background-image: none;
    }


    
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E335B;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 93%;
}
.card img{
    width:30%;
}
.card h1{
    color:white;
    font-size: 45px;
}

.cardService
{
    display: grid;
    grid-template-columns: 33.3%  33.3% 33.3%;


}


.service-card{
    background-color:  #181D3D;
    width: 100vw;
    height: 100vh;}

    
    Nab-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30%;
    
        border-radius: 25px 25px 0 25px;
      }
        
      
      .Nab-bg::before,.Nab-bg::after
      {
        content: '';
        position: absolute;  
        right: 0; 
      
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #ffffff;
        
       
      }
      
      .Nab-bg::after{
        background-color: #ffffff;
        border-radius: 0 25px 0 0;
      }



}


