


.Home{
    background-image:url('../images/background.png');
    background-size:cover;
    height:100vh;
    width:100%;
}

.servicesContainer{
  background-image:url('../images/EmergencyBackground.png')
}

.btn{
   
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width:98%;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E335B;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 350px;
    height: 90px;
}
.card img{
    width:70px;
    height: 70px;
}
.card h1{
    color:white;
    font-size: 25px;
    white-space: nowrap;
      
        text-overflow: "----";
}


.ToastContainer{
    height:70%;
  
   
}


.Nab-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 17%;

    border-radius: 0px 0px 0 30px;
  }
    
  @media (min-width:1025px){
    .Nab-bg{
      height:25%
    }
  }
  .Nab-bg::before,.Nab-bg::after
  {
    content: '';
    position: absolute;  
    right: 0; 
  
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #090950;
    
   
  }
  
  .Nab-bg::after{
    background-color: #fff;
    border-radius: 0 25px 0 0;
  }

.div-service{
    display: grid;
    grid-column: 50% 50%;
}

.team-text{

  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: "----";
    
}
.cardService
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.askcare{

    width: 300px;
}

.logout {
    border-radius: 10px;
    background-color: #7ba3d1;
    
   
    margin-left: 40%;
  }
  
  .divlogin{
margin-top: 30%;
margin-left: 20%;

  }

  .login{
    border-radius: 10px;
    background-color: #466587;
  }
  
  .label {
    display: block;
     border-radius: 14px;
    margin-bottom: 10px;
    color: rgb(22, 52, 78);
    font-family: 'Times New Roman', Times, serif;
  }
  input{
    border-radius: 20%;
    background-color: #ddd7d7;
    color: #474e82;
  }
  .welcome{
    color: rgb(33, 35, 37);
    text-align: center;
    
    margin-top: 100px;
  
  }
  .slick-slide-item{
    padding: 0 10px;
        color: transparent;
    outline: none;
    background: transparent;
  }
  
.overaly{
    position: absolute;
    left: 0;
    top:0;
    width: 50%;
    height: 50%;
    background-color: #2c3390;
    border-radius: 25px 25px 0 25px;
}
.overaly::before,.overaly::after
{
    content: '';
    position: absolute;  
    right: 0; 
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #8d2c90;
   
}

.overaly::after{
    background-color: #9e9292;
}
 
  
  
  
@media (max-width: 767px) {
    .setting {
        display: block;
    }
  
  }
  
  /* Laptop screens (768px and up) */
  @media (min-width: 768px) {
    .setting {
        display: none;
    }
    .card{
        display: none;
    }
   
  }
  